<div class="col-md-6 offset-md-3">
  <div class="row">
    <div class="col-9 text-left">
      <h3 class="text-left">Alta Animal en HappyPaws</h3>
    </div>
    <div class="col-3 text-right">
      <button class="btn custom-btn-orange-light" (click)="irGestionAnimal()">Volver atras</button>
    </div>
  </div>
  <form [formGroup]="altaForm" (ngSubmit)="onSubmit()">
    <div class="form-group mt-5">
      <label class="col-md-3" for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre"/>
    </div>
    <div class="form-group mt-3">
      <label class="col-md-3" for="descripcion">FechaNacimiento</label>
      <input type="date" id="fechaNacimiento" formControlName="fechaNacimiento">
    </div>
    <div class="form-group mt-3">
      <label class="col-md-3" for="especie">Especie:</label>
      <select id="especie" formControlName="especie">
        <option *ngFor="let especie of especies" [value]="especie.idespecie">{{especie.especie}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label class="col-md-3" for="raza">Raza:</label>
      <select id="raza" formControlName="raza">
        <option *ngFor="let raza of razas" [value]="raza.idraza">{{raza.raza}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label class="col-md-3" for="sexo">Sexo:</label>
      <select id="sexo" formControlName="sexo">
        <option *ngFor="let sexo of sexos" [value]="sexo.idsexo">{{sexo.sexo}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label class="col-md-3" for="tamano">Tamaño:</label>
      <select id="tamano" formControlName="tamano">
        <option *ngFor="let tamano of tamanos" [value]="tamano.idtamano">{{tamano.tamano}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label class="col-md-3" for="descripcion">Descripcion:</label>
      <textarea rows="4" id="descripcion" formControlName="descripcion"></textarea>
    </div>
    <div class="form-group mt-3">
      <label class="col-md-3" for="provincia">Provincia:</label>
      <select id="provincia" formControlName="provincia">
        <option *ngFor="let provincia of provincias" [value]="provincia.idprovincia">{{provincia.provincia}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label class="col-md-2" for="municipio">Municipio:</label>
      <select id="municipio" formControlName="municipio">
        <option *ngFor="let municipio of municipios" [value]="municipio.idmunicipio">{{municipio.municipio}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label class="form-label col-md-2" for="municipio">Envío:</label>
      <select id="envio" formControlName="envio">
        <option [value]=true>Si</option>
        <option [value]=false>No</option>
      </select>
    </div>
    <div class="mt-4 input-group">
      <input
        (change)="seleccionarFotos($event)"
        class="form-control form-control"
        id="foto"
        type="file"
        accept="image/*"
        multiple
        formControlName="fotos"
      >
    </div>
    <div>
      <button class="btn custom-btn-red-dark mt-3 enviar" type="submit" [disabled]="!altaForm.valid">Guardar <i class="fa-regular fa-floppy-disk"></i></button>
    </div>
  </form>
</div>
