<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Alta Animal en HappyPaws</h3>
    <form [formGroup]="altaForm" (ngSubmit)="onSubmit()">
        <div  class="form-group mt-5">
            <label class="col-md-3" for="nombre">Nombre:</label>
            <input type="text" id="nombre" formControlName="nombre" />
        </div>
        <div class="form-group mt-3">
            <label class="col-md-3" for="descripcion">FechaNacimiento</label>
            <input type="date" id="fechaNacimiento" formControlName="fechaNacimiento">
        </div>
        <div class="form-group mt-3">
            <label class="col-md-3" for="especie">Especie:</label>
            <select id="especie" formControlName="especie">
              <option *ngFor="let especie of especies" [value]="especie.idespecie">{{especie.especie}}</option>
            </select>
        </div>
        <div class="form-group mt-3">
            <label class="col-md-3" for="raza">Raza:</label>
            <select id="raza" formControlName="raza">
              <option *ngFor="let raza of razas" [value]="raza.idraza">{{raza.raza}}</option>
            </select>
        </div>
        <div class="form-group mt-3">
            <label class="col-md-3" for="sexo">Sexo:</label>
            <select id="sexo" formControlName="sexo">
              <option *ngFor="let sexo of sexos" [value]="sexo.idsexo">{{sexo.sexo}}</option>
            </select>
        </div>
        <div class="form-group mt-3">
            <label class="col-md-3" for="tamano">Tamaño:</label>
            <select id="tamano" formControlName="tamano">
              <option *ngFor="let tamano of tamanos" [value]="tamano.idtamano">{{tamano.tamano}}</option>
            </select>
        </div>
        <div class="form-group mt-3">
            <label class="col-md-3" for="descripcion">Descripcion:</label>
            <textarea rows="4" id="descripcion" formControlName="descripcion"></textarea>
        </div>
        <div class="form-group mt-3">
            <label class="col-md-3" for="provincia">Provincia:</label>
            <select id="provincia" formControlName="provincia">
              <option *ngFor="let provincia of provincias" [value]="provincia.idprovincia">{{provincia.provincia}}</option>
            </select>
        </div>
        <div class="form-group mt-3">
        <label class="col-md-2" for="municipio">Municipio:</label>
        <select id="municipio" formControlName="municipio">
            <option *ngFor="let municipio of municipios"  [value]="municipio.idmunicipio">{{municipio.municipio}}</option>
        </select>
        </div>
        <div class="form-group mt-3">
            <label class="col-md-3" for="descripcion">Apto para envio:</label>
            <div>
                <input type="radio" id="envioSi" value="true" formControlName="envio">
                <label for="envioSi">Si</label>
                <input type="radio" id="envioNo" value="false" form                         ControlName="envio">
                <label for="envioNo">No</label>
            </div>
        </div>
        <div>
            <button class="btn custom-btn-red-dark mt-3" type="submit" [disabled]="!altaForm.valid">Enviar</button>
        </div>        
    </form>
</div>