 <div class="contendor">
        <table class="table table-striped  table table-hover text-center">
            <thead>
              <tr>
                <th scope="col">ID Adopción</th>
                <th scope="col">Animal</th>
                <th scope="col">Adoptante</th>
                <th scope="col">Fecha</th>
                <th scope="col">ID Animal</th>
                <th scope="col">Formulario</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Neo</td>
                    <td>Pedro González</td>
                    <td>13/05/2023</td>
                    <td>0034</td>
                    <td><button class="btn custom-btn-red-dark p-1">Ver</button></td>
                    <td>Aceptada </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Neo</td>
                    <td>Pedro González</td>
                    <td>13/05/2023</td>
                    <td>0034</td>
                    <td><button class="btn custom-btn-red-dark p-1">Ver</button></td>
                    <td>Aceptada </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Neo</td>
                    <td>Pedro González</td>
                    <td>13/05/2023</td>
                    <td>0034</td>
                    <td><button class="btn custom-btn-red-dark p-1">Ver</button></td>
                    <td>Rechazada </td>
                </tr>
            </tbody>
          </table>
        </div>   
