<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="ms-5 navbar-brand me-5" href="/">
        <img
          src="assets/images/navbar/LogoHappyPaws-removebg-preview.png"
          alt=""
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarButtonsExample"
      >
        <div class="d-flex align-items-center ms-auto me-auto mb-2 mb-lg-0 justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item m-5">
                    <a class="nav-link" href="/animales/listado">Animales</a>
                </li>
                <li class="nav-item m-5">
                    <a class="nav-link" href="/protectora/todas">Protectoras</a>
                </li>
                <li class="nav-item m-5">
                    <a class="nav-link" href="#">Sobre Nosotros</a>
                </li>
                <li class="nav-item m-5">
                  <a class="nav-link" href="/contacto">Contacto</a>
                </li>
            </ul>
        </div>
  
        <div class="d-flex align-items-center m-5">
          <div *ngIf="(loggedIn)">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="78" height="73" viewBox="0 0 78 73" fill="none">
                  <path d="M65.4447 58.5902C66.047 58.4715 66.4027 57.8424 66.1541 57.2811C64.3461 53.2001 60.8976 49.6067 56.2469 46.9832C51.1889 44.1299 44.9915 42.5834 38.616 42.5834C32.2405 42.5834 26.0431 44.1299 20.9851 46.9832C16.3343 49.6067 12.8858 53.2001 11.0779 57.2811C10.8292 57.8424 11.185 58.4715 11.7872 58.5902L30.8851 62.3522C35.99 63.3578 41.242 63.3578 46.3468 62.3522L65.4447 58.5902Z" fill="#8E0B0B"/>
                  <ellipse cx="38.6159" cy="24.3333" rx="16.09" ry="15.2083" fill="#8E0B0B"/>
                </svg>
              </li>
              <li class="nav-item">
                <div class="dropdown align-vertical">
                  <button class="btn btn-dropdown-logged dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Bienvenido, {{user?.nombre}}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-start">
                    <li><a class="dropdown-item" href="{{user?.isProtectora() ? 'protectora/gestion' : 'adoptante/gestion'}}">Mi Perfil</a></li>
                    <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <button *ngIf="!loggedIn" mat-stroked-button class="btn btn-alternative" (click)="openDialog()">Iniciar sesion</button>
        </div>
      </div>
      <!-- Collapsible wrapper -->
  </nav>
  <router-outlet></router-outlet>