/* Estilo para el logo en la barra de navegación */
.navbar-brand img {
    width: auto; /* Ancho deseado del logo */
    height: auto; /* Esto mantendrá la proporción original */
    margin: 0; /* Puedes ajustar el margen si es necesario */
    padding: 0; /* Puedes ajustar el relleno si es necesario */
}

.nav-link{
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.custom-btn {
    background-color: #A6252C;
    color: #fff;
    border-color: #A6252C;
}

.btn-alternative {
    border-color: #A6252C !important;
}

.align-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Or any other value that suits your needs */
}

.btn-dropdown-logged {
    box-shadow: none;
    /* height: 35px; */
    border: 0;
    border-radius: 0px;
    color: #A6252C;
}

.dropdown-menu > li > a:hover {
    cursor: pointer;
    background-color: #A6252C;
    color: #fff;
}

.nav-item> a:hover {
    cursor: pointer;
    background-color: #A6252C;
    color: #fff;
}

.flex-dir-col {
    flex-direction: column;
}

.loggin-btn {
    min-width: 121px;
}

@media (min-width: 400px) {
    .nav-logo {
        height: 100px !important;
    }
}


