.col-md-6 {
    text-align: center; /* Centra el contenido dentro de la columna */
}

.img-fluid {
    
    border-radius: 5%; /* Agrega bordes redondeados a la imagen */
    margin-bottom: 20px; /* Añade espacio debajo de la imagen */
    object-fit: cover;
    max-width: 300px;
    max-height: 300px;
    border: 2px solid black; /* add this line */

}
