.container-fluid {
    height: 335px;
    background-color: #F5F2F2;
    padding-bottom: 200px;
}

.container-fluid h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #000000;
}

.container-fluid img {
    width: 100%; /* Configura el ancho al 100% para que ocupe todo el ancho del contenedor */
    height: auto; /* Esto mantiene la relación de aspecto original */
}

.custom-height-container {
    height: 300px;
}

.text-banner {
    display: flex;
    flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .container-homepage {
    background-image: url(/assets/images/home/perros-transformed.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 400px;
    background-position: 25% 30%;
}
}

@media (min-width: 400px) {
    .container-homepage {
        background-image: url(/assets/images/home/perros-transformed.png);
        background-repeat: no-repeat;
        min-height: 400px;
        background-position: 25% 30%;
    }
}

.container-homepage p {
    color: rgba(255, 255, 255, 0.98);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.dogs{
    background-image: url("/assets/images/home/perro-card.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 50px !important;
    background-position: center;
    background-size: cover;
}


@media (min-width: 400px) {
  .cats {
    margin-top: 2em;
    background-image: url("/assets/images/home/gato-card.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px !important;
    background-size: cover;
  }
}
.cats{
    background-image: url("/assets/images/home/gato-card.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px !important;
    background-size: cover;
}

.CardAnimals {
    width: 70%;
    height: 350px;
    flex-shrink: 0;
    border-radius: 50px;
    justify-content: space-between !important;

}

.CardAnimals a {
    display: block; 
    width: fit-content; 
    margin: auto;
    position: relative; 
    top: 80%; 

}

.home-container-info {
    background-color: #F5F2F2;
    fill: #F5F2F2;
}

.texto-svg {
    color: #000;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-height: 27px;
    margin:auto;
    max-width: 600px; 
}

.info-button {
    width: 155px;
    height: 40px;
    padding: 8px 16px;
    background: #F6F6F6;
    border-radius: 8px;
    border: 1px #A6252C solid;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    margin: 50px;
    text-decoration: none;
}

.info-text {
    color: #A6252C;
    font-size: 15px;
    font-weight: 450;
    line-height: 16px;
    letter-spacing: 0.20px;
    word-wrap: break-word;
    text-align: center;
}

.modal.fade.in {
    opacity: 1;
  }
  .modal.in .modal-dialog {
    transform: translate(0, 0);
  }
  .modal-backdrop.in {
    opacity: 0.5;
  }

  .custom-height-container2 {
    height: 450px;
}

.texto-colabora{
    color: #000;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-height: 27px;
    margin:auto;
    max-width: 600px;

}

  .image-container {
    display: flex;
    justify-content: space-between;
  }
  
  .image-home1 > a > img, .image-home2 > a > img {
    margin-top: 50px;
  }
  
  .image-home1 > a > img {
    margin-left: 110px;
    width: 400px;
  }
  
  .image-home2 > a > img {
    margin-right: 150px;
    width: 360px;
  }

  .boton-registro > a{

    margin-top: 100px;
    justify-content: flex-start;
    align-items: center;


  }

