<div class="container-fluid contenedor">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h1>Registro de usuario</h1>
            
        </div>
    </div>
    <hr>
    <div class="row">
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
                <div class="form-group m-3">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control custom-border-color" name="nombre" placeholder="Introduce tu nombre" [(ngModel)]="usuario.nombre">
                </div>
                <div class="form-group m-3">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" class="form-control custom-border-color" name="apellidos" [(ngModel)]="usuario.apellidos" placeholder="Introduce tus Apellidos">
                </div>
                <div class="form-group m-3">
                    <label for="dni">Dni</label>
                    <input type="text" class="form-control custom-border-color" name="dni" [(ngModel)]="usuario.dni" placeholder="Introduce tu DNI">
                </div>
                <div class="form-group m-3">
                    <label for="telefono">Telefono</label>
                    <input type="tel" class="form-control custom-border-color" name="telefono" [(ngModel)]="usuario.telefono" placeholder="Introduce tu Telefono">
                </div>
                <div class="form-group m-3">
                    <label for="direccion">Direccion</label>
                    <input type="text" class="form-control custom-border-color" name="direccion" [(ngModel)]="usuario.direccion" placeholder="Introduce tu Telefono">
                </div>
                <div class="form-group m-3">
                    <label for="dni">Email</label>
                    <input type="email" class="form-control custom-border-color" name="email" [(ngModel)]="usuario.email" placeholder="Introduce tu Email">
                </div>
                <div class="form-group m-3">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control custom-border-color" name="password" [(ngModel)]="usuario.password" placeholder="Introduce tu Contraseña">
                </div>
                <div class="d-flex justify-content-center">
                <button type="submit" class="btn custom-btn m-3 ">Completar Registro</button>
                </div>
            </form>
        </div>
    </div>
</div>