<section class="m-5">
    <div class="contcontainer.md overflow-hiddenainer">
        <div class="row row-cols-auto">
            <div class="col-md-auto d-flex align-items-center">
                <h6 class="fw-bold">Buscar: </h6>
            </div>
            <div class="col-md-auto">
                <input #busqueda type="text" class="form-control" placeholder="nombre protectora">
            </div>
            <div class="col-md-auto">
                <button (click)="busquedaPorNombre(busqueda.value)" class="btn custom-btn-red-dark">Buscar</button>
            </div>
            <div class="col-md-auto">
                <button (click)="listar()" class="btn custom-btn-red-dark">Ver todas</button>
            </div>
        </div>
    </div>
</section>



<div class="mt-5 contendor">
    <table class="table table-striped  table table-hover text-center" >
        <thead >
            <tr>
                <th scope="col">ID Protectora</th>
                <th scope="col">Nombre</th>
                <th scope="col">Provincia</th>
                <th scope="col">Estado</th>
                <th scope="col">Edicion</th>
                <th scope="col">Cambiar Estado</th>
                <!-- <th scope="col">Borrar</th> -->
            </tr>
        </thead>
        <tbody *ngFor="let protectora of listaProtectoras">
            <tr>
                <th scope="row">{{protectora.idprotectora}}</th>    
                <td>{{protectora.nombre}}</td>
                <td>{{protectora.nombreProvincia}}</td>
                <td [ngStyle]="{'color': getColor(protectora.nombreEstadoProtectora)}">{{protectora.nombreEstadoProtectora}}</td>
                <td>
                    <button (click)="editarProtectora(protectora.idprotectora)" class="btn custom-btn-red-dark" >Editar</button>
                </td>        
                <td>
                    <button (click)="activarProtectora(protectora.idprotectora)" class="btn custom-btn-green-light  ms-3">Activar</button>
                    <button (click)="pendienteProtectora(protectora.idprotectora)"class="btn custom-btn-orange-light  ms-3">Pendiente</button>
                    <button (click)="inactivarProtectora(protectora.idprotectora)"class="btn custom-btn-red-light  ms-3">Inactivar</button>
                </td>
                <!-- <td>
                    <button class="btn custom-btn-red-dark  ms-3">Eliminar</button>
                </td> -->
            </tr>

              
        </tbody>
    </table>
</div>