<div class="col-md-6 offset-md-3">
    <div class="row">
      <div class="col-9 text-left">
        <h3 class="text-left">Modificar Animal {{animal.nombre}}</h3>
      </div>
    </div>
    <form [formGroup]="altaForm" (ngSubmit)="onSubmit()">
      <div class="form-group mt-5">
        <label class="col-md-3"  for="nombre">Nombre:</label>
        <input type="text" [(ngModel)]="animal.nombre" id="nombre" formControlName="nombre"/>
      </div>
      <!-- La especie no se puede cambiar, siempre le va a asignar la que tenga. 
      Si se quiere cambiar la especie, se debe eliminar el animal y crear uno nuevo. -->
      <div class="form-group mt-3">
        <label class="col-md-3" for="especie">Especie:</label>
        <select id="especie" formControlName="especie" [(ngModel)]="animal.raza.especie.idespecie" (change)="onEspecieChange()">
          <option *ngFor="let especie of especies" [value]="animal.raza.especie.idespecie">{{especie.especie}}</option>
        </select>
      </div>
      
      <div class="form-group mt-3">
        <label class="col-md-3" for="raza">Raza:</label>
        <select id="raza" formControlName="raza" [(ngModel)]="animal.raza.idraza">
          <option *ngFor="let raza of razas" [value]="raza.idraza">{{raza.raza}}</option>
        </select>
      </div>
      <div class="form-group mt-3">
        <label class="col-md-3" for="sexo">Sexo:</label>
        <select id="sexo" formControlName="sexo" [(ngModel)]="animal.sexo.idsexo">
          <option *ngFor="let sexo of sexos" [value]="sexo.idsexo">{{sexo.sexo}}</option>
        </select>
      </div>
      <div class="form-group mt-3">
        <label class="col-md-3" for="tamano">Tamaño:</label>
        <select id="tamano" formControlName="tamano" [(ngModel)]="animal.tamano.idtamano">
          <option *ngFor="let tamano of tamanos" [value]="tamano.idtamano">{{tamano.tamano}}</option>
        </select>
      </div>
      <div class="form-group mt-3">
        <label class="col-md-3" for="descripcion">Descripcion:</label>
        <textarea rows="4" [(ngModel)]="animal.descripcion" id="descripcion" formControlName="descripcion"></textarea>
      </div>
      <div>
        <button class="btn custom-btn-red-dark m-3" type="submit" [disabled]="!altaForm.valid">Enviar</button>
      </div>
    </form>
  </div>

