<div class="contendor">
    <table class="table table-striped  table table-hover text-center">
      <thead>
        <tr>
          <th scope="col">ID Adopción</th>
          <th scope="col">Animal</th>
          <th scope="col">Adoptante</th>
          <th scope="col">Fecha</th>
          <th scope="col">ID Animal</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let adopcion of adopciones">
              <td scope="row">{{adopcion.idAdopcion}}</td>
              <td>{{adopcion.nombreAnimal}}</td>
              <td>{{adopcion.nombreUsuario}}</td>
              <td>{{adopcion.fechaAdopcion}}</td>
              <td>{{adopcion.idAnimal}}</td>
              <td>{{adopcion.getEstado()}}</td>
          </tr>
      </tbody>
    </table>
  </div>