<!-- Componente que muestra la lista de animales -->

<!-- Botón para volver atrás -->
<div class="row">
  <div class="col-3 text-right">
    <button class="btn btn-light" (click)="irPrincipal()">Volver atras</button>
  </div>
</div>

<!-- Tarjetas de los animales -->

<section class="tarjetas m-3">
  <div class="container-fluid">
    <section>
      <div class="row">
        <div class="col-md-2">
                aqui iria el filtro
          <select (change)="buscar($event)">
            <option *ngFor=" let r of listaRazas" value="{{r.idraza}}">{{r.raza}}</option>
          </select>
        </div>
        <div class="col-md-9">
              <div class="row">
                <ng-container *ngIf="listaAnimales.length > 0; else sinAnimales">
                  <div *ngFor="let animal of listaAnimales" class="col-md-4 justify-content-center mb-4">
                    <app-animal *ngIf = "animal.enabled" [animal]="animal" [fotos]="listaFotos[animal.idanimal]"></app-animal>
                  </div>
                </ng-container>
              </div>
        </div>
      </div>
    </section>
  </div>
</section>

<ng-template #sinAnimales>
  <td>
    No se han encontrado Animales
  </td>
</ng-template>
