<div mat-dialog-content>
  <div class="row">
    <div class="col-md-6">
      <div class="container_text">
        <h1 class="first m-3">¡Bienvenido!</h1>
        <h3 class="second mb-0 m-3">Te estábamos esperando</h3>
      </div>
      <div class="row">
        <form>
          <div class="input-group col-md-8 ms-auto me-auto mb-4 w-50">
            <input type="text" class="form-control" placeholder="Usuario" aria-label="Usuario" aria-describedby="basic-addon1">
          </div>
          <div class="input-group col-md-8 ms-auto me-auto mb-4 w-50">
            <input type="text" class="form-control" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1">
          </div>
          <div class="col-md-8 ms-auto me-auto text-center m-3">
            <input type="submit" class="btn custom-btn" value="Iniciar sesion" >
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row mb-0">
        <div class="container_image col-md-12 m-0 mt-3">
          <img src="/assets/images/login/PHOTO-2023-10-29-12-00-44-removebg.png" alt="Imagen">
        </div>
      </div>
      <div class="row m-0 text-center">
        <div class="col-md-12 m-0">
          <p>¿Aún no tienes cuenta? <br>Regístrate en nuestra web <a class="reg-link" href="/registro">aquí!</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
