<div mat-dialog-content>
  <div class="row">
    <div class="col-md-6">
      <div class="container_text">
        <h1 class="first m-3">¡Bienvenido!</h1>
        <h3 class="second mb-0 m-3">Te estábamos esperando</h3>
      </div>
      <div class="row">
        <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
          <div class="input-group col-md-8 ms-auto me-auto mb-4 w-50">
            <input type="login" id="loginName" name="email" [(ngModel)]="email" class="form-control" placeholder="Usuario" aria-label="Usuario" aria-describedby="basic-addon1">
          </div>
          <div class="input-group col-md-8 ms-auto me-auto mb-4 w-50">
            <input type="password" id="passwordName" name="password" [(ngModel)]="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1">
          </div>
          <div class="col-md-8 ms-auto me-auto text-center m-3">
            <button type="submit" class="btn custom-btn">Iniciar sesion</button>
            <div *ngIf="errorMessage" class="alert alert-danger mt-4 col-md-8 ms-auto me-auto" role="alert">
              <p class="login-error">{{ errorMessage }}</p>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row mb-0">
        <div class="container_image col-md-12 m-0 mt-3">
          <img src="/assets/images/login/PHOTO-2023-10-29-12-00-44-removebg.png" alt="Imagen">
        </div>
      </div>
      <div class="row m-0 text-center">
        <div class="col-md-12 m-0">
          <p>¿Aún no tienes cuenta? <br>Regístrate en nuestra web <a class="reg-link" href="/registro">aquí!</a></p>
        </div>
        <div class="col-md-12 m-0">
          <p>¿Quieres colaborar como protectora? <br>Regístrate en nuestra web <a class="reg-link" href="/registro-protectora">aquí!</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
