<div class="col-md-6 offset-md-3">

  <!-- Título -->
  <h3 class="text-center">Modificar Animal en HappyPaws</h3><br>
  <button type="button" class="btn btn-warning" (click)="irGestionAnimal()">Volver a Gestión</button>

  <!-- Form -->
  <form [formGroup]="altaForm" (ngSubmit)="onSubmit()">

    <div class="form-group mt-5">
      <label class="form-label col-md-3" for="nombre">Nombre:</label>
      <input class="form-control" type="text" [(ngModel)]="animal.nombre" id="nombre" formControlName="nombre"/>
    </div>
    <div class="form-group mt-3">
      <label class="form-label col-md-3" for="especie">Especie:</label>
      <select class="form-select" id="especie" formControlName="especie" [(ngModel)]="animal.raza.especie.idespecie">
        <option *ngFor="let especie of especies" [value]="especie.idespecie">{{especie.especie}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label class="form-label col-md-3" for="raza">Raza:</label>
      <select class="form-select" id="raza" formControlName="raza" [(ngModel)]="animal.raza.idraza">
        <option *ngFor="let raza of razas" [value]="raza.idraza">{{raza.raza}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label class="form-label col-md-3" for="sexo">Sexo:</label>
      <select class="form-select" id="sexo" formControlName="sexo" [(ngModel)]="animal.sexo.idsexo">
        <option *ngFor="let sexo of sexos" [value]="sexo.idsexo">{{sexo.sexo}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label class="form-label col-md-3" for="tamano">Tamaño:</label>
      <select class="form-select" id="tamano" formControlName="tamano" [(ngModel)]="animal.tamano.idtamano">
        <option *ngFor="let tamano of tamanos" [value]="tamano.idtamano">{{tamano.tamano}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label class="form-label col-md-3" for="descripcion">Descripcion:</label>
      <textarea class="form-control" rows="4" [(ngModel)]="animal.descripcion" id="descripcion" formControlName="descripcion"></textarea>
    </div>
    <div class="form-group mt-3">
      <label class="form-label col-md-3" for="provincia">Provincia:</label>
      <select class="form-select" id="provincia" formControlName="provincia" [(ngModel)]="animal.municipio.provincia.idprovincia">
        <option *ngFor="let provincia of provincias" [value]="provincia.idprovincia">{{provincia.provincia}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label class="form-label col-md-2" for="municipio">Municipio:</label>
      <select class="form-select" id="municipio" formControlName="municipio" [(ngModel)]="animal.municipio.idmunicipio">
        <option *ngFor="let municipio of municipios" [value]="municipio.idmunicipio">{{municipio.municipio}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label class="form-label col-md-2" for="municipio">Habilitado:</label>
      <select class="form-select" id="enabled" formControlName="enabled" [(ngModel)]="animal.enabled">
        <option [value]=true>Habilitado</option>
        <option [value]=false>Deshabilitado</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label class="form-label col-md-2" for="municipio">Envío:</label>
      <select class="form-select" id="envio" formControlName="envio" [(ngModel)]="animal.envio">
        <option [value]=true>Si</option>
        <option [value]=false>No</option>
      </select>
    </div>

    <!-- Botones -->
    <div>
      <button class="btn custom-btn-red-dark mt-3" type="submit" [disabled]="!altaForm.valid">Editar</button>
      <button class="btn btn-warning mt-3" (click)="irFotosAnimal(animal.idanimal)">Modificar Fotos</button>
    </div>

  </form>

</div>
