.contenedor{
 margin: 50px 60px 50px 50px;
}
.img-fluid.rounded-circle {
    border-radius: 50%;
    object-fit: cover;
    width: 100px; /* adjust as needed */
    height: 100px; /* adjust as needed */
    width: 230px;
    height: 230px;
    border: 2px solid black; /* add this line */

}

.mat-mdc-tab-group.mat-warn {
    --mdc-tab-indicator-active-indicator-color: #8E0B0B;
    --mat-tab-header-active-label-text-color: #1A191F;
    --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
    --mat-tab-header-pagination-icon-color: #000;
    --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-active-label-text-color: #1A191F;
    --mat-tab-header-active-ripple-color: #8E0B0B;
    --mat-tab-header-inactive-ripple-color: #8E0B0B;
    --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-active-focus-label-text-color: #8E0B0B;
    --mat-tab-header-active-hover-label-text-color: #8E0B0B;
    --mat-tab-header-active-focus-indicator-color: #8E0B0B;
    --mat-tab-header-active-hover-indicator-color: #8E0B0B;
 }
 