<div class="contenedor">
<section>
    <div *ngIf="protectora">
        <div class="container.md overflow-hidden">
            <div class="row row-cols-auto m-3">
                <div class="col-md-2">
                    <img  class="img-fluid rounded-circle" src="{{protectora.urlLogo}}" alt="{{protectora.nombre}}">
                </div>
                <div class="row row-cols-auto m-3 ">
                    <div class="col-md">
                        <div class="col-md">
                            <h3>{{protectora.nombre}}</h3>
                        </div>
                        <div class="col-md mt-3 ">
                            <a>Dirección: {{protectora.direccion}}</a>
                        </div>
                        <div class="col-md mt-3 ">
                            <a>Email: {{protectora.email}}</a>
                        </div>
                        <div class="col-md mt-3">
                            <a>Teléfono: {{protectora.telefono}}</a>
                        </div>
                        <div class=" pt-3 col-md ">
                            <button (click)="actualizarProtectora(protectora.idprotectora)" class="btn custom-btn-red-dark p-2 ">Modificar Datos</button>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5">
    <mat-tab-group dynamicHeight color="warn" animationDuration="0ms">
        <mat-tab label="Animales"><app-lista-protectoras></app-lista-protectoras></mat-tab>
        <mat-tab label="Peticiones"><app-peteciones-adopcion></app-peteciones-adopcion></mat-tab>
        <mat-tab label="Adopciones"><app-adopciones-completadas></app-adopciones-completadas></mat-tab>
    </mat-tab-group>
</section>
</div>



