
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center">Contacta con HappyPaws</h3>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="form-group mt-5">
                    <label class="col-md-2" for="name">Nombre:</label>
                    <input type="text" id="name" formControlName="name"/>
                    <div *ngIf="contactForm.get('name')?.invalid " class="text-danger">
                        El nombre es requerido.
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label class="col-md-2" for="email">Correo electrónico:</label>
                    <input type="email" id="email" formControlName="email" />
                    <div *ngIf="contactForm.get('email')?.invalid" class="text-danger">
                        Introduce tu correo electrónico.
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label class="col-md-2" for="message">Mensaje:</label>
                    <textarea rows="4" id="message" formControlName="message"></textarea>
                    <div *ngIf="contactForm.get('message')?.invalid" class="text-danger">
                        ¿Cómo podemos ayudarte?.
                    </div>
                </div>
                <div>
                    <button class="btn custom-btn-red-dark mt-3" type="submit" [disabled]="enviandoEmail" [disabled]="!contactForm.valid">Enviar</button>
                </div>        
            </form>
            <div *ngIf="enviandoEmail">Enviando correo electrónico...</div>
            <div *ngIf="estadoEnvio" class="submit-status">
                {{ estadoEnvio }}
            </div>
        </div>
    </div>
</div>
