<!--<div *ngIf="animal"> -->

<!-- Botón para volver al listado de animales -->
<a href="animales/listado" class="btn btn-primary">Volver al listado de animales</a>

<div class="row justify-content-center">
  <div class="col-lg-10">

  <!-- Carrusel de imágenes -->
<div class="fotoprincipal">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <img [src]="'/assets/images/animales/' + animal.idanimal" class="img-fluid" alt="{{animal.nombre}}">
    </div>
  </div>
</div>

<!-- Detalles del animal -->
<div class="detalles">
  <div class="row">
    <div class="col">
      <p>Conoce a {{animal.nombre}}</p>
      <p>Nacido el; {{ animal.fechaNacimiento | date }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Provincia: {{ animal.municipio.provincia.provincia }}</p>
      <p>Protectora: {{ animal.protectora.nombre }}</p>
      <p>Envío: {{ animal.envio ? "Puede viajar" : "No puede viajar" }}</p>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <h2>DETALLES</h2>
      <p>Especie: {{ animal.raza.especie.especie }}</p>
      <p>Raza: {{ animal.raza.raza }}</p>
      <p>Sexo: {{ animal.sexo.sexo }}</p>
      <p>Tamaño: {{ animal.tamano.tamano }}</p>
      <p>Edad: {{ getAnimalAge(animal.fechaNacimiento) }}</p>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <h2>DESCRIPCIÓN</h2>
      <p>{{ animal.descripcion }}</p>
    </div>
  </div>
</div>

<!-- FOTOS DEL ANIMAL -->
<div class="row">
  <div class="col-lg-3 col-md-4 col-6" *ngFor="let foto of fotosMultimedia; let i = index">
    <a href="#" data-toggle="modal" [attr.data-target]="'#modal' + i">
      <img class="img-fluid img-thumbnail" [src]="foto.enlace" alt="Foto {{i + 1}}">
    </a>
  </div>
</div>

  </div>
</div>

<!-- Botón de Solicitar Adopción -->
<div class="text-center">
  <a href="cuestionario/adopcion" class="btn btn-success">Solicitar Adopción</a>

</div>
