.contendor{
    margin-top: 50px;

}
.table {
    width: 100%;
  }
  .modal.fade.in {
    opacity: 1;
  }
  .modal.in .modal-dialog {
    transform: translate(0, 0);
  }
  .modal-backdrop.in {
    opacity: 0.5;
  }


