<div class="contendor">
    <table class="table table-striped  table table-hover text-center">
      <thead>
        <tr>
          <th scope="col">ID Adopción</th>
          <th scope="col">Animal</th>
          <th scope="col">Adoptante</th>
          <th scope="col">Email Adoptante</th>
          <th scope="col">ID Animal</th>
          <th scope="col">Formulario</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let adopcion of adopciones">
              <td scope="row">{{adopcion.idAdopcion}}</td>
              <td>{{adopcion.nombreAnimal}}</td>
              <td>{{adopcion.nombreUsuario}}</td>
              <td>{{adopcion.emailUsuario}}</td>
              <td>{{adopcion.idAnimal}}</td>
              <td>
                <button type="button" class="btn custom-btn-red-dark" (click)="openDialog(adopcion.idUsuario)">Ver</button></td>
              <td>
                  <button class="btn custom-btn-green-light p-1" (click)="approveAdoption(adopcion)">Aceptar</button>
                  <button class="btn custom-btn-red-light p-1 m-2" (click)="rejectAdoption(adopcion.idAdopcion)" >Rechazar</button>
              </td>
          </tr>
      </tbody>
    </table>
</div>
