<div class="col-text-right">
    <button class="btn custom-btn-orange-light" (click)="irPrincipal()"><i class="fa-solid fa-arrow-left"></i> Volver atras</button>
</div>

<section class="tarjetas m-3">
    <div class="container-fluid">
        <section>
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <ng-container *ngIf="listaGatosHabilitados.length > 0; else sinAnimales">
                        <div *ngFor="let gato of listaGatosHabilitados" class="col-md-4 justify-content-center mb-4">
                            <app-animal [animal]="gato" [fotos]="listaFotos[gato.idanimal]"></app-animal>
                        </div>
                    </ng-container>
                </div>
            </div>
        </section>
    </div>
</section>

<ng-template #sinAnimales>
    <td>
        No se han encontrado Gatos
    </td>
</ng-template>
