/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 95%; margin-right:auto; margin-left:auto;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-btn {
    background-color: #A6252C;
    color: #fff;
    border-color: #A6252C;
}

.custom-btn:hover {
    background-color: #d3a8aa;
    border-color: #A6252C;
}

.card{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: all 0.3s ease-in-out;
    background-color: #F5F2F2;
}

