html, body { height: 100%; width: 100%; margin-right:auto; margin-left:auto;}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-body-content { overflow: hidden!important}


/* Definicion de variables de colores */
:root {
  --red: #a6252c;
  --grey-background: #f5f2f2;

  --button-red-text: #ffffff;

  --button-ligth-red-background: #fbe7e8;
  --button-ligth-red-text: #a30d11;

  --text-dark: #1a191f;
}

.custom-btn {
  background-color: var(--red-base, #A6252C);
  color: #fff;
  border-color: var(--red-base);
}

.custom-btn:hover {
  background-color: #d3a8aa;
  border-color: var(--red-base);
}

/* Botones */
.custom-btn-red-dark {
  background-color: var(--red);
  color: #fff; 
}

.custom-btn-red-dark:hover {
  background-color: #d3a8aa;
  color: var(--text-dark);
}


.custom-btn-red-light {
  background-color: #fbe7e8;
  color: #fff;
  color: #a30d11;
}

.custom-btn-red-light:hover {
  background-color: #a30d11;
  color: #fbe7e8;
}

.custom-btn-green-light {
  background-color: #EBF9F1;
  color: #1F9254; 
}

.custom-btn-green-dark:hover {
  background-color: #EBF9F1;
  color: #1F9254;
}

.custom-btn-green-dark {
  background-color: #1F9254;
  color: #EBF9F1; 
}

.custom-btn-green-light:hover {
  background-color: #1F9254;
  color: #EBF9F1;
}

.custom-btn-orange-light {
  background-color: #F9F2EB;
  color: #92801F; 
}

.custom-btn-orange-light:hover {
  background-color: #92801F;
  color: #F9F2EB;
}


input, textarea, select, option{
  background-color: rgb(226, 226, 226);
  border: none;
  min-height: 2vw;
  width: 100%;
}


