<div class="contendor">

    <section class="m-5">
        <div class="contcontainer.md overflow-hiddenainer">
            <div class="row row-cols-auto">
                <div class="col-md-auto d-flex align-items-center">
                    <h6 class="fw-bold">Buscar: </h6>
                </div>
                <div class="col-md-auto">
                    <input #busqueda type="text" class="form-control" placeholder="Introduce un ID Adopción">
                </div>
                <div class="col-md-auto">
                    <button (click)="adopcionPorID((busqueda.value))" class="btn custom-btn-red-dark">Buscar</button>
                </div>
                <div class="col-md-auto">
                    <button (click)="getAdopciones()" class="btn custom-btn-red-dark">Ver todos</button>
                </div>
            </div>
        </div>
    </section>
    
    <table class="table table-striped  table table-hover text-center">
      <thead>
        <tr>
          <th scope="col">ID Adopción</th>
          <th scope="col">Animal</th>
          <th scope="col">Adoptante</th>
          <th scope="col">Fecha</th>
          <th scope="col">ID Animal</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let adopcion of adopciones">
              <td scope="row">{{adopcion.idAdopcion}}</td>
              <td>{{adopcion.nombreAnimal}}</td>
              <td>{{adopcion.nombreUsuario}}</td>
              <td>{{adopcion.fechaAdopcion}}</td>
              <td>{{adopcion.idAnimal}}</td>
              <td>{{adopcion.getEstado()}}</td>
          </tr>
      </tbody>
    </table>
  </div>
