<div class = "container faq">
<h2 class="text-center">FAQ Usuario</h2>
<div class="accordion usuario-faq" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        ¿Cómo puedo buscar animales para adoptar?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">      <div class="accordion-body">
        <strong>En el apartado "Animales".</strong> En "Happy Paws", dirígete a la sección "Animales en Adopción" para explorar la lista de perros y gatos disponibles. Puedes filtrar según preferencias como raza, edad y ubicación.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        ¿Debo completar un cuestionario de adopción? ¿Por qué?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Sí. </strong> En "Happy Paws", el cuestionario asegura que el animal sea adoptado por alguien cuyas circunstancias y estilo de vida sean compatibles. Proporciona información valiosa a la protectora para tomar decisiones informadas.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        ¿Cómo solicito la adopción de un animal?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>En la página del animal. </strong> Después de completar el cuestionario, selecciona un animal y haz clic en "Solicitar Adopción" en "Detalle Animal". La protectora revisará tu solicitud y se comunicará contigo.
    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingFour">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      ¿Puedo comunicarme con la protectora antes de que se apruebe mi solicitud?
    </button>
  </h2>
  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <strong>Sí.  </strong> Puedes enviar mensajes a la protectora para hacer preguntas adicionales o proporcionar más información. Usa la función de mensajes en tu perfil.
  </div>
</div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingFive">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
      ¿Cómo sé si mi solicitud de adopción fue aprobada o rechazada?
    </button>
  </h2>
  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <strong>Se puede consultar en su perfil de usuario.  </strong> El estado de tu solicitud se mostrará en la sección "Solicitudes de Adopción" en tu perfil de "Happy Paws". Recibirás una notificación cuando la protectora tome una decisión.
  </div>
</div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingSix">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
      ¿Cuánto tiempo tarda en procesarse una solicitud de adopción?
    </button>
  </h2>
  <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <strong>Depende de cada solicitud.  </strong> El tiempo puede variar, pero la protectora de "Happy Paws" revisará tu solicitud lo más pronto posible. Puedes seguir el progreso en tu perfil.
  </div>
</div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingSeven">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
      ¿Puedo adoptar más de un animal a la vez?
    </button>
  </h2>
  <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <strong>Sí.  </strong> En "Happy Paws", puedes solicitar la adopción de múltiples animales si así lo deseas. Asegúrate de tener la capacidad y recursos para cuidar de todos ellos adecuadamente.
  </div>
</div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingEight">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
      ¿Qué sucede después de que mi solicitud sea aprobada?
    </button>
  </h2>
  <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <strong>La protectora se pondrá en contacto contigo. </strong> Una vez aprobada en "Happy Paws", recibirás detalles adicionales sobre la adopción, como la fecha de recogida y cualquier requisito especial del animal por mail.
</div>
</div>

<h2 class="text-center usuario-faq">FAQ Protectora</h2>
<div class="accordion usuario-faq" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOneP">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneP" aria-expanded="true" aria-controls="collapseOne">
        ¿Cómo me registro como protectora en la página de adopción?
      </button>
    </h2>
    <div id="collapseOneP" class="accordion-collapse collapse" aria-labelledby="headingOneP" data-bs-parent="#accordionExample">      <div class="accordion-body">
        <strong>Iniciar Sesión -> Registro .</strong> En "Happy Paws", haz clic en Iniciar Sesión > "Registrarse" y selecciona la opción "Protectora". Completa la información requerida sobre tu organización y estarás lista para subir animales.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwoP">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoP" aria-expanded="false" aria-controls="collapseTwoP">
        ¿Cómo subo un animal para su adopción?
      </button>
    </h2>
    <div id="collapseTwoP" class="accordion-collapse collapse" aria-labelledby="headingTwoP" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>En Mi perfil > Mis animales. </strong> Inicia sesión, accede a tu perfil y selecciona "Añadir Animal". Completa la información del animal, incluyendo fotos. Una vez hecho, el animal estará disponible para adopción.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeP" aria-expanded="false" aria-controls="collapseThreeP">
        ¿Cómo reviso las solicitudes de adopción?      </button>
    </h2>
    <div id="collapseThreeP" class="accordion-collapse collapse" aria-labelledby="headingThreeP" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>En Mi perfil -> Peticiones. </strong> Las solicitudes aparecerán en la sección "Solicitudes de Adopción" en tu perfil de "Happy Paws". Aquí verás información sobre el adoptante y el animal.
    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingFourP">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourP" aria-expanded="false" aria-controls="collapseFourP">
      ¿Puedo comunicarme con los adoptantes antes de aprobar una solicitud?
    </button>
  </h2>
  <div id="collapseFourP" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <strong>Sí.  </strong> Puedes ver el email del adoptante en la solicitud de adopción para poder comunicarte con los adoptantes y obtener información adicional si es necesario.
  </div>
</div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingFiveP">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveP" aria-expanded="false" aria-controls="collapseFiveP">
      ¿Puedo actualizar la información de un animal después de su publicación?
    </button>
  </h2>
  <div id="collapseFiveP" class="accordion-collapse collapse" aria-labelledby="headingFiveP" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <strong>Sí.  </strong> ", puedes modificar la información del animal en cualquier momento desde la sección "Animales" en tu perfil.
  </div>
</div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingSixP">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixP" aria-expanded="false" aria-controls="collapseSixP">
      ¿Cómo accedo al historial de adopciones realizadas por mi protectora?
    </button>
  </h2>
  <div id="collapseSixP" class="accordion-collapse collapse" aria-labelledby="headingSixP" data-bs-parent="#accordionExample">
    <div class="accordion-body">Puedes encontrar el historial de adopciones en la sección "Adopciones" en tu perfil. Esto te permite hacer un seguimiento de las adopciones exitosas y evaluar el impacto positivo de tu organización.
  </div>
