  <div class="logo">
    <h3 class="text-center">{{protectora.nombre}}</h3>
    <img class="img-thumbnail rounded mx-auto d-block" src="{{protectora.urlLogo}}" alt="{{protectora.nombre}}">
  </div>



<section>
  <div class="container.md justify-content-md-center" *ngIf="protectora">
    <div class="row justify-content-md-center ">
      <div class="datos col-md-8" >
        <div class="col-md p-5">
          <h3>Localizacion</h3>
          <hr class="line-red" />
          <a>{{protectora.direccion}}</a>          
        </div>
      </div>
      <div class="datos col-md-8 " >
        <div class="col-md p-5">
          <h3>Descripción</h3>
          <hr class="line-red" />
          <div class="">
            <span class="">{{protectora.descripcion}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


