<section class="m-4">
  <!-- Logo de la protectora -->
  <div class="logo">
    <img class="img-thumbnail rounded mx-auto d-block" src="{{protectora.urlLogo}}" alt="{{protectora.nombre}}">
  </div>
  <div class="nombre p-3">
    <h3 class="text-center p-3">{{protectora.nombre}}</h3>
  </div>

  <!-- Datos de la protectora -->
  <div class="mt-md-2 m-4" *ngIf="protectora">
    <div class="row d-flex justify-content-center">
      <div class="datos col-md-8 p-3 ">
        <div class="col-md ">
          <h3>Localizacion</h3>
          <hr class="line-red" />
          <div class="col-md ">
            <a>Direccion: {{protectora.direccion}}</a>
          </div>
          <div class="col-md mt-3 ">
            <a>Provincia: {{protectora.nombreProvincia}}</a>
          </div>
          <div class="col-md mt-3 ">
            <a>Teléfono: {{protectora.telefono}}</a>
          </div>
        </div>
        <div class="col-md mt-sm-5">
          <h3 class="">Descripción</h3>
          <hr class="line-red" />
          <div class="">
            <span class="">{{protectora.descripcion}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-md-5 p-3 d-flex justify-content-center">
    <button class="btn custom-btn-red-dark p-2" (click)="enviarMensaje()">Contactar</button>
  </div>
</section>