<article class="card">
  <img [src]="'http://localhost:4200/assets/images/animales/' + animal.idanimal + '/' + fotos[0].enlace"
       alt="{{animal.nombre}}" class="card-img-top imagen" style="object-fit:cover; object-position: top;">
  <header class="card-body">
    <h5 class="card-title">{{animal.nombre}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Protectora: {{animal.protectora.nombre}}</h6>
  </header>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <b>Provincia:</b> {{animal.municipio.provincia.provincia}}
    </li>
    <li class="list-group-item">
      <b>Sexo:</b> {{animal.sexo?.sexo}}
    </li>
    <li class="list-group-item">
      <b>Raza:</b> {{animal.raza?.raza}}
    </li>
    <li class="list-group-item">
      <b>Tamaño:</b> {{animal.tamano?.tamano}}
    </li>
    <li class="list-group-item">
      <b>Envío:</b> {{animal.envio ? "Si" : "No"}}
    </li>
  </ul>
  <footer class="card-footer">
    <a [routerLink]="['/animales/verUno', animal.idanimal]" class="btn custom-btn-red-light">
      Ver más Información <i class="fa-solid fa-circle-plus"></i>
    </a>
  </footer>
</article>
