<!-- Componente que muestra los datos de un animal --> 

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="{{animal.nombre}}">
    <div class="card-body">
        <h3 class="card-title">{{animal.nombre}}</h3>
        <h5 class="card-text">{{animal.municipio.provincia.provincia}}</h5>   
        <h5 class="card-text">{{animal.fechaNacimiento}}</h5>
        <p class="card-text">{{animal.descripcion}}</p>
        <button class="btn custom-btn-red-dark" (click)="verDetallesAnimal(animal.idanimal)">Ver detalles</button>
        <a href="cuestionario/adopcion" class="btn btn-primary">Adóptame</a>
    </div>
  </div>
