<section class="mt-5">
    <mat-tab-group dynamicHeight color="warn" animationDuration="0ms">
        <mat-tab label="Protectoras"><app-listado-gestion-protectoras></app-listado-gestion-protectoras></mat-tab>
        <mat-tab label="Animales"><app-peteciones-adopcion></app-peteciones-adopcion></mat-tab>
        <mat-tab label="Usuarios"><app-adopciones-completadas></app-adopciones-completadas></mat-tab>
        <mat-tab label="Adopciones"><app-adopciones-completadas></app-adopciones-completadas></mat-tab>
    </mat-tab-group>
</section>