<section class="mt-5">
    <mat-tab-group dynamicHeight color="warn" animationDuration="0ms">
        <mat-tab label="Protectoras"><app-listado-gestion-protectoras></app-listado-gestion-protectoras></mat-tab>
        <mat-tab label="Animales"><app-listado-gestion-animales></app-listado-gestion-animales></mat-tab>
        <mat-tab label="Usuarios"><app-listado-gestion-usuarios></app-listado-gestion-usuarios></mat-tab>
        <mat-tab label="Adopciones"><app-listado-adopciones></app-listado-adopciones></mat-tab>
    </mat-tab-group>
</section>