
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Sobre Happy Paws</h6>
            <div class="texto-sobreHP">
              <p class="text-justify">Happy Paws es una plataforma dedicada a facilitar la adopción de perros y gatos, conectando protectoras de animales con adoptantes potenciales. Con un enfoque en la transparencia y la comunicación, Happy Paws simplifica el proceso de adopción, asegurando que los animales encuentren hogares amorosos y compatibles.</p>
            </div>
            </div>

          <div class="col-xs-6 col-md-3">
            <h6>Ptotectoras</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">Registro</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">FAQ</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">Listado Protectoras</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Animales</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">Listado Animales</a></li>
              <li><a href="/faq">FAQ</a></li>

            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container  d-flex justify-content-center">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text"><i>Copyright &copy; 2023 Todos los derechos reservados </i> 
              <a class="ms-5 navbar-brand me-5" href="/">
                <img
                  src="assets/images/navbar/logofooter2.png"
                  alt=""
                  loading="lazy"
                  style="margin-top: -1px;"
                />
              </a>
            </p>
          </div>

          
        </div>
      </div>
</footer>