<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h1>Registro de Protectora</h1>
        </div>
        <hr>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
                <div class="d-flex justify-content-center">
                <h3> Detalles de usuario</h3>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="check-circle-fill" fill="#8E0B0B" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </symbol>
                    <symbol id="info-fill" fill="#8E0B0B" viewBox="0 0 16 16">
                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>
                    <symbol id="exclamation-triangle-fill" fill="#8E0B0B" viewBox="0 0 16 16">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                  </svg>
                  
                  <div class="alert alert-secondary d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                    <div>
                      Rellene la información del la persona responsable de la protectora.
                    </div>
                  </div>              
                <div class="form-group m-3">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control custom-border-color" name="nombre" placeholder="Introduce tu nombre" [(ngModel)]="usuario.nombre">
                </div>
                <div class="form-group m-3">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" class="form-control custom-border-color" name="apellidos" [(ngModel)]="usuario.apellidos" placeholder="Introduce tus Apellidos">
                </div>
                <div class="form-group m-3">
                    <label for="dni">Dni</label>
                    <input type="text" class="form-control custom-border-color" name="dni" [(ngModel)]="usuario.dni" placeholder="Introduce tu DNI">
                </div>
                <div class="form-group m-3">
                    <label for="telefono">Telefono</label>
                    <input type="tel" class="form-control custom-border-color" name="telefono" [(ngModel)]="usuario.telefono" placeholder="Introduce tu Telefono">
                </div>
                <div class="form-group m-3">
                    <label for="direccion">Direccion</label>
                    <input type="text" class="form-control custom-border-color" name="direccion" [(ngModel)]="usuario.direccion" placeholder="Introduce tu Telefono">
                </div>
                <div class="form-group m-3">
                    <label for="dni">Email</label>
                    <input type="email" class="form-control custom-border-color" name="email" [(ngModel)]="usuario.email" placeholder="Introduce tu Email">
                </div>
                <div class="form-group m-3">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control custom-border-color" name="password" [(ngModel)]="usuario.password" placeholder="Introduce tu Contraseña">
                </div>
                <div class="d-flex justify-content-center">
                    <h3> Detalles de la protectora</h3>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="check-circle-fill" fill="#8E0B0B" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </symbol>
                    <symbol id="info-fill" fill="#8E0B0B" viewBox="0 0 16 16">
                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>
                    <symbol id="exclamation-triangle-fill" fill="#8E0B0B" viewBox="0 0 16 16">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                  </svg>
                  
                  <div class="alert alert-secondary d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                    <div>
                      Rellene la información de la protectora.
                    </div>
                  </div>                   
                <div class="form-group m-3">
                    <label for="protec_nombre">Nombre protectora</label>
                    <input type="text" class="form-control custom-border-color" name="protec_nombre" placeholder="Nombre de la protectora" [(ngModel)]="protectora.nombre">
                </div>
                <div class="form-group m-3">
                    <label for="protec_descripcion">Descripciónn</label>
                    <input type="text" class="form-control custom-border-color" name="protec_descripcion" placeholder="Descripcion de la protectora" [(ngModel)]="protectora.descripcion">
                </div>
                <div class="form-group m-3">
                    <label for="protec_direccion">Dirección</label>
                    <input type="text" class="form-control custom-border-color" name="protec_direccion" placeholder="Direccion de la protectora" [(ngModel)]="protectora.direccion">
                </div>
                <div class="form-group m-3">
                    <label for="protec_email">Email</label>
                    <input type="email" class="form-control custom-border-color" name="protec_email" placeholder="Email de la protectora" [(ngModel)]="protectora.email">
                </div>
                <div class="form-group m-3">
                    <label for="nombre">Teléfono</label>
                    <input type="protec_tel" class="form-control custom-border-color" name="protec_tel" placeholder="Telefono de la protectora" [(ngModel)]="protectora.telefono">
                </div>
                <div class="form-group m-3">
                    <label for="protec_logo">Logo</label>
                    <input type="url" class="form-control custom-border-color" name="protec_logo" placeholder="URL del logo" [(ngModel)]="protectora.urlLogo">
                </div>
                <div class="form-group m-3">
                    <label for="protec_provincia">Provincia</label>
                    <select class="form-select custom-border-color" id="provincia" (change)="listadoMunicipiosProvincia($event)">
                        <option value="{{provincia.idprovincia}}" *ngFor="let provincia of provincias" [ngValue]="provincia.idprovincia">{{provincia.provincia}}</option>
                    </select>
                </div>
                <div class="form-group m-3">
                    <label for="protec_municipio">Municipio</label>
                    <select class="form-select custom-border-color" id="municipio" name="protec_municipio" [(ngModel)]="idMunicipio">
                        <option value="0" selected [selected]="true">Selecciona un municipio</option>
                        <option *ngFor="let municipio of municipios"  [ngValue]="municipio.idmunicipio">
                            {{municipio.municipio}}
                        </option>
                    </select>
                </div>
                <div class="d-flex justify-content-center">
                <button type="submit" class="btn custom-btn m-3">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>